<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} MySocialNetwork {% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block scripts %} {% endblock %}
</head>
<body>

<!-- Barra de Navegación superior -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<img src="/images/logo.png" alt="logo"/>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li id="users/list"><a href="/users/list">Usuarios</a></li>
                <li id="myfriends"><a href="/friends">Amigos</a></li>
                <li id="mypublications"><a href="/publications">Publicaciones</a></li>
                <li id="adminUsers-menu" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Gestión de usuarios</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/list">Listar usuarios</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
				<li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
				<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Identifícate</a></li>
				{% if user != null %}
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Desconectarte</a></li>
				{% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
        <script>
            let params = new URLSearchParams(location.search);
            let message = params.get("message");
            let messageType = params.get("messageType");

            if (message != null && message != "") {
                if (messageType == "") {
                    messageType = 'alert-info';
                }
                $(".container").append("<div class='alert " + messageType + "'>" + message + " </div>");
            }
        </script>
        <!-- Contenido -->
        {% block main_container %}
            <!-- Posible contenido por defecto -->
        {% endblock %}
</div>

</body>
</html>
