{% extends "layout.twig" %}

{% block title %} Listado de usuarios {% endblock %}

{% block main_container %}
    <div class="container">
        <h2>Usuarios</h2>
        <p>Los usuarios que actualmente figuran en el sistema son los siguientes:</p>
        <div class="table-responsive">
            <form action="/admin/delete" method="post">
                <input type="submit" id="deleteButton" class="btn btn-danger" value="Eliminar"/>
            <table class="table table-hover" id="tableUsers">
                <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                </tr>
                </thead>
                <tbody id="cuerpo">
                {% for u in users %}
                    <tr>
                        <td scope="row">{{ u.email }}</td>
                        <td scope="row">{{ u.name }}</td>
                        <td scope="row">{{ u.surname }}</td>
                        {% if user.email != u.email %}
                        <td scope="row" ><input type="checkbox" name="users" value={{ u.email }} /> </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </form>
        </div>
    </div>
{% endblock %}
